/Webservice/need-a-ticket4/nbproject/private/
/Webservice/need-a-ticket4/build/
/Webservice/need-a-ticket4/dist/
/need-a-ticket5/nbproject/private/
/need-a-ticket5/build/
/Webservice/need-a-ticket5/dist/
*.lck
*.bak_000f
*.bak_001d
*.bak_002d
*.bak_003d
*.bak*